* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  font-size: 1.5rem;
  background-color: #222222;
}



img {
  display: block;
  max-width: 100%;
}

.result-str{
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-top: 10px;
}

span{
  display: flex;
  align-items: center;
  width: 500px;
  transition: all .3s;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 20%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  transition: all 1s;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}


button {
  outline: none;
  text-transform: uppercase;
  border-radius: 15px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  background-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  transition: 0.5s;
  min-width: 300px;
}
button:hover {
  background-position: right center;
}


